.header{
  width: 100%;
  height: 190px;
  background: rgb(252, 16, 16);
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
body{
  position: relative;
  margin: 0%;
  box-sizing: border-box;
 
}
.diamond-l{
  
  position: relative;
  padding-left: 42%;
  top: -11px;
  padding-bottom: 0%;
}
.diamond-header{
  position: relative;
  padding-left: 49%;
  top: -194px;
  padding-bottom: 0%;
  
  
 
}



/* Add a black background color to the top navigation */
.nav-b{
  position: relative;
 top:-49px ;
  left: -33%;
}

 .m-title{
  font-size: 20px;
  
  text-align:right;
 } 
  

.popcorn {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-right: 60%;
  position: relative;
  bottom: 610px;
 

}

.movies{
  
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-right: 60%;
  position: relative;
  bottom: 565px;
  right: -11px;
}
.circle{
  width: 77px;
  float: left;
  margin-top: 119px;
  margin-left: 0px;
  position: absolute;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  display: flex;
}

@keyframes example {
  0%   { left:0px; top:0px;}
  25%  { left:px; top:0px;}
  50%  { left:2px; top:3px;}
  75%  { left:0px; top:2px;}
  100% { left:0px; top:0px;}
}

.circle-1{
  width: 77px;
  float: left;
  margin-top: -40px;
  margin-left: 210px;
  position: absolute;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   { left:0px; top:0px;}
  25%  { left:px; top:0px;}
  50%  { left:2px; top:3px;}
  75%  { left:0px; top:2px;}
  100% { left:0px; top:0px;}
}
.f-title
{
  position: absolute;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wb{
  position: absolute;
  text-align: left;
  float: left;
  color: rgb(250, 248, 252);
  top: -370px;
  left: -10px;
}
