.header{
  width: 100%;
  height: 190px;
  background: rgb(248,67,38);
background: linear-gradient(90deg, rgba(248,67,38,1) 42%, rgba(243,41,41,1) 54%);
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

 

}
body{
  position: relative;
  margin: 0%;
  box-sizing: border-box;
  
}
.diamond-l{
  
  position: relative;
  padding-left: 41%;
  top: -11px;
  padding-bottom: 0%;
}
.diamond-header{
  position: relative;
  padding-left: 47%;
  top: -194px;
  padding-bottom: 0%;
  
  
 
}



/* Add a black background color to the top navigation */


 .m-title{
  font-size: 20px;
  
  text-align:center;
 } 
  

.popcorn {
  color: rgb(255, 254, 254);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  left: -74px;
  position: relative;
  bottom: 390px;
 

}

.movies{
  
  color: rgb(252, 249, 249);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    bottom: 428px;
    left: -49px;
  position: relative;
  

}
.circle{
  width: 77px;
  float: left;
  margin-top: 135px;
  margin-left: -13px;
  position: absolute;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  display: flex;
}

@keyframes example {
  0%   { left:0px; top:0px;}
  25%  { left:px; top:0px;}
  50%  { left:2px; top:3px;}
  75%  { left:0px; top:2px;}
  100% { left:0px; top:0px;}
}

.circle-1{
  width: 77px;
  float: left;
  margin-top: -40px;
  margin-left: 210px;
  position: absolute;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   { left:0px; top:0px;}
  25%  { left:px; top:0px;}
  50%  { left:2px; top:3px;}
  75%  { left:0px; top:2px;}
  100% { left:0px; top:0px;}
}
.f-title
{
  position: absolute;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap");
.wb{
  position: absolute;
  text-align: left;
  float: left;
  color: rgb(250, 248, 252);
  top: -444px;
  left: -98px;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-slide 8s linear infinite;
  background-size: 300% 100%;
  background-image: linear-gradient(
    90deg,
    #e5600b 0,
    #bfaf00 14%,
    #37bb00 28%,
    #25b5f5 43%,
    #ca57fa 68%,
    #fa3f2b 83%,
    #e5600b
  );
  

}

@keyframes rainbow-slide {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: rgb(58, 52, 52);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:  rgb(135, 129, 129);
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 28px;
  cursor: pointer;
  background: rgb(248,67,38);
 
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: rgb(250, 12, 12);
}
.nav-b{
  align-items: center;
  
    position: relative;
   top:-380px ;
    left: 43%;
  

}
.middle{
 

  position:relative;
  width: 100%;
  height: 300px;
  background: rgb(255,249,239);
  background: linear-gradient(90deg, rgba(255,249,239,1) 41%, rgba(249,232,222,1) 55%);  left: 0px;
  margin-top: 5px;
  

}

.pm-art {

  width: 100%;
  height: 120px;
  background: rgb(255,180,18);
background: linear-gradient(90deg, rgba(255,180,18,1) 34%, rgba(255,150,2,1) 100%);
}
.ad-0{
  position: relative;
  width:100%;
  height:272px;
  background: rgb(255,249,239);
  background: linear-gradient(90deg, rgba(255,249,239,1) 41%, rgba(249,232,222,1) 55%); 
 
}.info-01{
  background: rgb(226, 5, 5);
  width: 100%;
  height: 300px;
 
 position: relative;
}
.add-1{
  background: rgb(68, 58, 58);
  width: 100%;
  height: 180px;
 
 position: relative;
}
.link-c{
  position: relative;
  width:100%;
  height: 100px;
  background: rgb(170, 167, 157);
}
.link-o{
  position: relative;
  width:100%;
  height: 100px;
  background: rgb(167, 10, 15);
}
.popcorn-bot{
  background: rgb(64, 32, 132);
  width: 100%;
  height: 180px;
  

}
.contact-page{
  background: rgb(17, 184, 70);
  width: 100%;
  height: 180px;
 

}
.about{
  background: rgb(21, 21, 21);
  width: 100%;
  height: 180px;
  
 
}
.popcornmovies-art{
  position: relative;
  width: 80%;
height: 90%;
left: 40px;
border-radius: 25px;
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(243,41,41,1) 0%);
padding-top: 1px;
top: 11px;

}
.pm-img{
position: relative;
bottom: 119px;
z-index: 1;


}
.pm-ad-0{
  position: relative;
  width: 80%;
height: 90%;
left: 40px;
border-radius: 25px;
background: rgb(14,11,7);
background: linear-gradient(90deg, rgba(14,11,7,1) 1%, rgba(81,73,73,1) 17%, rgba(40,33,21,1) 100%, rgba(107,95,69,1) 100%);

padding-top: 1px;
top: 11px;
}
.font-effect-outline{
 
  color: rgb(255,255,255);
  color: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(218,164,164,1) 58%, rgba(177,177,177,1) 100%, rgba(107,95,69,1) 100%);
 text-align: center;
 position: relative;
 top: 80px;

  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  word-spacing: 2px;
  
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
  }
  .info-01{
    font-family: 'Lato', sans-serif;
 
    font-size:25px;
  }
 .info-text-1{
  position: relative;
  top: 15px;
  left: 15px;
 }